[Desktop Entry]
Encoding=UTF-8
Name=Leafpad
Comment=Simple text editor
Comment[bg]=Опростен текстов редактор
Comment[ca]=Editor de text simple
Comment[cs]=Jednoduchý textový editor
Comment[de]=Einfacher Texteditor
Comment[es]=Editor de texto simple
Comment[fr]=Un éditeur de texte tout simple
Comment[he]=עורך טקסט פשוט
Comment[hu]=Egyszerű szöveg szerkesztő
Comment[it]=Semplice editor testuale
Comment[ja]=シンプルなテキストエディタ
Comment[lt]=Paprastas teksto redaktorius
Comment[pl]=Prosty edytor tekstu
Comment[pt]=Simples editor de texto
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sv]=Enkel texteditor
Comment[ta]=எளிமையான உரை பதிப்பான்
Comment[tr]=Basit metin düzenleyicisi
Comment[vi]=Một trình soạn thảo đơn giản
Comment[zh_CN]=简易文字编辑器
Comment[zh_TW]=簡易文字編輯器
Exec=leafpad %f
Icon=leafpad.png
Terminal=false
Type=Application
MimeType=text/plain
Categories=Application;Utility;TextEditor;
